@charset "UTF-8";

/* Variables
===================================*/

:root {
  --color-black: #000000;
  --color-white: #ffffff;
}

/* Base
===================================*/

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Yu Gothic", "YuGothic", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* Typography
=================================== */

/* Regular */
.type-12-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}

.type-13-regular {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
}

.type-14-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.type-14-regular-180 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

/* Medium */
.type-12-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}

.type-18-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.type-30-medium {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
}

/* Bold */
.type-14-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.type-14-bold-100 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.type-16-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.type-16-bold-100 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.type-16-bold-180 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
}

.type-17-bold {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.2;
}

.type-19-bold-8 {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.08em;
}

.type-20-bold-100 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.type-24-bold-8 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.08em;
}

/* Layout
===================================*/

.l-page {
  max-width: 1400px;
  margin-inline: auto;
}

.l-inner {
  max-width: 840px;
  width: calc(100% - 40px);
  margin-inline: auto;
}

/* Utility
===================================*/

.u-pc-only {
  display: none;
}

/* header
--------------------------------*/

.mv {
  position: relative;
}

.mv__media {
}
.mv__image {
}

.mv__logo,
.mv__catch,
.mv__badge {
  position: absolute;
}

.mv__logo {
  inset: 0;
}

.mv__catch {
  inset: 0;
}

.mv__badge {
  inset: 0;
}

/* .course-arrow
--------------------------------*/
.course {
  text-align: center;
}

.section-title {
}

.course-name {
}

.course-schedule {
  margin-inline: auto;
}

.course-text {
}

.course-arrow {
}

.flex {
}

.item {
}

.title {
}

.img {
}

.text {
}

/* Tablet
===================================*/
@media (min-width: 768px) {
  /* Utility
  ===================================*/
  .u-sp-only {
    display: none;
  }

  .u-pc-only {
    display: revert;
  }

  /* Layout
  ===================================*/
}
