@charset "UTF-8";

/* Variables
===================================*/

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #eb4e45;
}

/* Base
===================================*/

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Yu Gothic", "YuGothic", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* Typography
=================================== */

/* Regular */
.type-12-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}

.type-13-regular {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
}

.type-14-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.type-14-regular-180 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

/* Medium */
.type-12-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}

.type-18-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.type-30-medium {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
}

/* Bold */
.type-14-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.type-14-bold-100 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.type-16-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.type-16-bold-100 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.type-16-bold-180 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
}

.type-17-bold {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.2;
}

.type-19-bold-8 {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.08em;
}

.type-20-bold-100 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.type-24-bold-8 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.08em;
}

/* Layout
===================================*/

.l-page {
  max-width: 1400px;
  margin-inline: auto;
}

.l-inner {
  max-width: 840px;
  width: calc(100% - 40px);
  margin-inline: auto;
}

/* Utility
===================================*/

.u-pc-only {
  display: none;
}

/* header
--------------------------------*/

.mv {
  position: relative;
  width: 100%;
}

.mv__media {
}
.mv__image {
}

.mv__logo,
.mv__catch,
.mv__badge {
  position: absolute;
}

.mv__logo {
  top: 22px;
  left: 20px;
}

.mv__catch {
  top: 80px;
  left: 20px;
  width: 210px;
}

.mv__badge {
  right: 16px;
  bottom: -50px;
  width: 190px;
}

/* course
--------------------------------*/
.course__lead {
  text-align: center;
}

.course__title {
  margin-inline: auto;
}

.course__schedule {
  margin-inline: auto;
}

.course__text {
  margin-inline: auto;
}

.course__arrow {
  margin-inline: auto;
}

.course__content {
}

.course__list {
}

.course__item {
}

.course__item-title {
  margin-inline: auto;
}

.course__image {
  margin-inline: auto;
}

.course__description {
  text-align: center;
}

/* Feature
--------------------------------*/
.feature {
}

.feature__icon-image {
  margin-inline: auto;
}

.feature__title {
  text-align: center;
}

.feature-index {
}

.feature__nav {
}

.feature__nav-item {
}

.feature__nav-link {
}

.feature__nav-image {
}

/* curriculum
--------------------------------*/
.curriculum {
}

.curriculum__title {
}

.curriculum__text {
}

.curriculum__list {
}

.curriculum__item {
  max-width: 380px;
  margin-inline: auto;
}

.curriculum__item-title {
  background-color: var(--color-red);
  color: var(--color-white);
  text-align: center;
}

.curriculum__item-image {
}

.curriculum__item-text {
}

.curriculum_item-text {
}

.introduction__link {
  display: block;
  width: fit-content;
  margin-inline: auto;
}

.introduction__link-text {
  margin-inline: auto;
}

.introduction {
}

.introduction__title {
  text-align: center;
}

.introduction__list {
}

.introduction__item {
}

.introduction__item-title {
}

/* Tablet
===================================*/
@media (min-width: 768px) {
  /* Utility
  ===================================*/
  .u-sp-only {
    display: none;
  }

  .u-pc-only {
    display: revert;
  }

  /* Layout
  ===================================*/
}
